@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=amulya@500,700,1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration des polices avec fallback */
@layer base {
  html {
    font-family: 'Inter', 'Arial', sans-serif;
  }
  
  body {
    font-family: 'Inter', 'Arial', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', 'Arial', sans-serif;

  }
}



img, video {
  max-width: none !important;
}

/* Annuler la transformation de texte sur le titre principal */
.intro-title {
  text-transform: none !important;
}

/* S'assurer que seule la première lettre est en majuscule */
.intro-title::first-letter {
  text-transform: uppercase;
}